.pie-wrapper {
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
}
.pie-wrapper .pie {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  color: #655;
  background-color: yellowgreen;
  border-radius: 50%;
  margin: 0 30px;
}
.pie-wrapper .pie .pie-left, .pie-wrapper .pie .pie-right, .pie-wrapper .pie:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 50px;
  height: 100px;
  border-radius: 0 100%  100% 0/50%;
  background-color: currentColor;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.pie-wrapper .pie .pie-left {
  background-color: inherit;
  z-index: 10;
}
